{{> header}}

<h1>{{pageTitle}}</h1>

<ul>
  <li>Olympus Mons Website</li>
  <li>Dark Shield Integrated C.A.D (Computer Aided Dispatch) & User Portal</li>
  <li>Project Ipsum</li>
</ul>

{{> footer}}
